In [2]:
import pandas as pd

In [3]:
# cdc_csv = "Covid-19_Case_Surveillance_Public_Use_Data.csv"
# cdc_df = pd.read_csv(cdc_csv)

# cdc_df.head(2)

us_vac_csv = "Resource/us_state_vaccinations.csv"
us_vac_df = pd.read_csv(us_vac_csv)
us_vac_df.head(2)

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.44,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.52,7.73,5906.0,5906.0,1205.0,0.222

In [4]:
us_vac_df.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used'],
      dtype='object')

In [13]:
total_df = us_vac_df[['date','location', 'total_vaccinations', 'total_distributed']]
total_df

            date location  total_vaccinations  total_distributed
0     2021-01-12  Alabama             78134.0           377025.0
1     2021-01-13  Alabama             84040.0           378975.0
2     2021-01-14  Alabama             92300.0           435350.0
3     2021-01-15  Alabama            100567.0           444650.0
4     2021-01-16  Alabama                 NaN                NaN
...          ...      ...                 ...                ...
3008  2021-02-22  Wyoming            135635.0           150905.0
3009  2021-02-23  Wyoming            136163.0           167025.0
3010  2021-02-24  Wyoming            136366.0           172465.0
3011  2021-02-25  Wyoming            141545.0           183065.0
3012  2021-02-26  Wyoming            145577.0           194055.0

[3013 rows x 4 columns]

In [14]:
no_null_total_df = total_df.dropna(how='any')
no_null_total_df

            date location  total_vaccinations  total_distributed
0     2021-01-12  Alabama             78134.0           377025.0
1     2021-01-13  Alabama             84040.0           378975.0
2     2021-01-14  Alabama             92300.0           435350.0
3     2021-01-15  Alabama            100567.0           444650.0
7     2021-01-19  Alabama            130795.0           444650.0
...          ...      ...                 ...                ...
3008  2021-02-22  Wyoming            135635.0           150905.0
3009  2021-02-23  Wyoming            136163.0           167025.0
3010  2021-02-24  Wyoming            136366.0           172465.0
3011  2021-02-25  Wyoming            141545.0           183065.0
3012  2021-02-26  Wyoming            145577.0           194055.0

[2691 rows x 4 columns]

In [27]:
no_null_total_df[(no_null_total_df["date"]=="2021-01-12")|(no_null_total_df["date"]=="2021-01-19")|(no_null_total_df["date"]=="2021-01-26")|(no_null_total_df["date"]=="2021-02-02")|(no_null_total_df["date"]=="2021-02-09")|(no_null_total_df["date"]=="2021-02-16")|(no_null_total_df["date"]=="2021-02-23")]

            date location  total_vaccinations  total_distributed
0     2021-01-12  Alabama             78134.0           377025.0
7     2021-01-19  Alabama            130795.0           444650.0
14    2021-01-26  Alabama            254959.0           569000.0
21    2021-02-02  Alabama            371882.0           680550.0
28    2021-02-09  Alabama            490969.0           823600.0
...          ...      ...                 ...                ...
2981  2021-01-26  Wyoming             41339.0            71725.0
2988  2021-02-02  Wyoming             59018.0            89450.0
2995  2021-02-09  Wyoming             76457.0           113175.0
3002  2021-02-16  Wyoming            100186.0           122200.0
3009  2021-02-23  Wyoming            136163.0           167025.0

[449 rows x 4 columns]